/* модальное окно */
.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 250ms var(--transition-cubic);
}
.modal__close-logo {
    position: absolute;
    transition: fill 250ms var(--transition-cubic);
    &:hover,
    &:focus {
        fill: #2196f3;
    }
}

.modal__licence {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    // margin-left: 3px;
    text-decoration-line: underline;
    color: var(--accent-colour);
   
    @include desktop {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        // color: #757575;
    }
}

.modal {
    width: 100%;
    max-width: 450px;
    max-height: 609px;
    padding: 40px 40px;
    // margin-left: 15px;
    // margin-right: 15px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--transition-cubic);
    .backdrop-is-hidden & {
            transform: translate(-50%, -50%) scale(0);
            transition: transform 250ms var(--transition-cubic);
        }
    @include desktop {
    min-width: 528px;
    min-height: 581px;
    }
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #ffffff;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 250ms var(--transition-cubic);
}

.no-scroll {
    overflow: hidden;
}

.modal__title {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
@include desktop {
    line-height: 1.15;
}
}
.modal__group {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.modal__label {
    margin-bottom: 4px;
    ont-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;    
        letter-spacing: 0.01em;
        color: #757575;
}

.modal__input {
    margin: 0;
    padding: 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--transition-cubic),fill 250ms var(--transition-cubic);
    
    &:focus,
    &:hover {
        border-color: var(--accent-colour);
        }
    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        @include desktop {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
        }
        }
        &:hover~textarea {
        border-color: var(--accent-colour);
        transition: border-color 250ms var(--transition-cubic);
        }
    }
    .textarea {
    transition: border-color 250ms var(--transition-cubic);
    }
.label_name {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal__checkbox-point {
    display: flex;
    align-items: center;
    // margin-top: 20px;
    justify-content: left;

    @include desktop {
    justify-content: center;
    }
}

.modal__check {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.modal__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 60%;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250 var(--transition-cubic), border-color 250 var(--transition-cubic);
    .modal__input:focus~&,
    .modal__input:hover~& {
        fill: var(--accent-colour);
        border-color: var(--accent-colour);
        }
    }

#comment:hover,
#comment:focus {
    fill: var(--accent-colour);
    border-color: var(--accent-colour);
    transition: border-color 250ms var(--transition-cubic), fill 250ms var(--transition-cubic);
    
}
.modal__comment {
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    height: 120px;
    transition: fill 250ms var(--transition-cubic),border-color 250 var(--transition-cubic);
    @include desktop {
    padding: 16px 12px;
    }
}

.modal__checkbox {
    display: flex;
    margin-top: 20px;
    @include desktop {
    justify-content: center;
}
}

.modal__check-icon {
    display: inline-block;
    height: 15px;
    width: 16px;
    margin-right: 8.38px;
    border: 2px solid #212121;
    border-radius: 2px;
    
    .modal__check:checked+& {
        background-color: var(--accent-colour);
        background-image: url(../image/check.svg);
        background-size: contain;
        background-origin: border-box;
        border-color: var(--accent-colour);
        border-radius: 2px;
        }
}
.modal_check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
    @include desktop {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    }
}
.modal__submit {
    display: block;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: #2196f3;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    transition: background-color 250ms var(--transition-cubic);
    &:hover,
    &:focus {
        background-color: #188ce8;
        }
}

