:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-colour: #2196f3;
    --white-text-colour: #ffffff;
    --bg-page-colour: #ffffff;
    --bg-button-hover: #188ce8;
    --bg-button-portfolio: #f5f4fa;
    --futer-mail-tel: rgba(255, 255, 255, 0.6);
    --border-bottom: #ececec;
    --border-portfolio: #eeeeee;
    --transition-cubic: cubic-bezier(0.4,0,0.2,1);
}